<div class="rrze-vrevision">
    <figure>
        <img
            src="{{=img150}}"
            alt="Alternativtext"
            width="1024"
            height="576"
            loading="lazy"
            srcset="
                {{=img300}}    780w,
                {{=img1024}}  1024w,
                {{=imgOriginal}} 2400w
            "
            sizes="(min-width: 1600px) 1200px,
               (min-width: 1400px) 1100px,
               (min-width:1000px) 900px,
               "
        />
        <figcaption>Bildbeschreibung</figcaption>
    </figure>
</div>
