<div class="rrze-vrevision">
    <figure class="aligncenter">
        <img
            src="{{=img150_1}}"
            alt="Alternativtext"
            width="1024"
            class="size-full"
            height="576"
            loading="lazy"
            srcset="
                {{=img300_1}}    780w,
                {{=img1024_1}}  1024w,
                {{=imgOriginal_1}} 2400w
            "
            sizes="(min-width: 1600px) 1200px,
               (min-width: 1400px) 1100px,
               (min-width:1000px) 900px,
               "
        />
        <figcaption>Bildbeschreibung</figcaption>
    </figure>
</div>
