<div class="rrze-vrevision">
    <figure>
        <img
            src="{{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png"
            alt="Serverraum des RRZE"
            width="1024"
            height="576"
            loading="lazy"
            srcset="
                {{=imgpath}}/assets/img/Serverraum/Serverraum-300x169.jpg    780w,
                {{=imgpath}}/assets/img/Serverraum/Serverraum-1024x576.jpg  1024w,
                {{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png 2400w
            "
            sizes="(min-width: 1600px) 1200px,
               (min-width: 1400px) 1100px,
               (min-width:1000px) 900px,
               "
        />
        <figcaption>Serverraum des RRZE</figcaption>
    </figure>
</div>
