<div class="rrze-vrevision">
    <div class="image-gallery">
        <div
            id="slider-1888080768"
            class="gallery-slick"
            aria-hidden="true"
            role="presentation"
        >
            <div
                class="slider-for-rrze-vrevision slick-initialized slick-slider"
            >
                <div class="slick-list draggable" style="height: 499px">
                    <div class="slick-track" style="opacity: 1; width: 2982px">
                        <div
                            class="slick-slide slick-current slick-active"
                            data-slick-index="0"
                            aria-hidden="false"
                            style="
                                width: 994px;
                                position: relative;
                                left: 0px;
                                top: 0px;
                                z-index: 999;
                                opacity: 1;
                            "
                        >
                            <div>
                                <div
                                    class="item"
                                    style="width: 100%; display: inline-block"
                                >
                                    <img
                                        src="{{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png"
                                        width="1024"
                                        height="576"
                                        alt=""
                                        srcset="
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-300x169.jpg    780w,
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-1024x576.jpg  1024w,
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png 2400w
                                        "
                                        sizes="(min-width: 1600px) 1200px,
                                                (min-width: 1400px) 1100px,
                                                (min-width:1000px) 900px,
                                            "
                                        role="presentation"
                                    />
                                    <figcaption class="gallery-image-caption">
                                        Der Serverraum des RRZE A
                                    </figcaption>
                                </div>
                            </div>
                        </div>
                        <div
                            class="slick-slide"
                            data-slick-index="1"
                            aria-hidden="true"
                            style="
                                width: 994px;
                                position: relative;
                                left: -994px;
                                top: 0px;
                                z-index: 998;
                                opacity: 0;
                                transition: opacity 500ms ease;
                            "
                            tabindex="-1"
                        >
                            <div>
                                <div
                                    class="item"
                                    style="width: 100%; display: inline-block"
                                >
                                    <img
                                        src="{{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png"
                                        alt="Serverraum des RRZE"
                                        width="1024"
                                        height="576"
                                        loading="lazy"
                                        srcset="
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-300x169.jpg    780w,
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-1024x576.jpg  1024w,
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png 2400w
                                        "
                                        sizes="(min-width: 1600px) 1200px,
                                        (min-width: 1400px) 1100px,
                                        (min-width:1000px) 900px,
                                        "
                                    />
                                    <figcaption class="gallery-image-caption">
                                        B
                                    </figcaption>
                                </div>
                            </div>
                        </div>
                        <div
                            class="slick-slide"
                            data-slick-index="2"
                            aria-hidden="true"
                            style="
                                width: 994px;
                                position: relative;
                                left: -1988px;
                                top: 0px;
                                z-index: 998;
                                opacity: 0;
                                transition: opacity 500ms ease;
                            "
                            tabindex="-1"
                        >
                            <div>
                                <div
                                    class="item"
                                    style="width: 100%; display: inline-block"
                                >
                                    <img
                                        src="{{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png"
                                        alt="Serverraum des RRZE"
                                        width="1024"
                                        height="576"
                                        loading="lazy"
                                        srcset="
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-300x169.jpg    780w,
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-1024x576.jpg  1024w,
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png 2400w
                                        "
                                        sizes="(min-width: 1600px) 1200px,
                                        (min-width: 1400px) 1100px,
                                        (min-width:1000px) 900px,
                                        "
                                    />
                                    <figcaption class="gallery-image-caption">
                                        C
                                    </figcaption>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="
                    slider-nav-width slider-nav-1888080768
                    slick-initialized slick-slider
                "
            >
                <div class="slick-list draggable">
                    <div
                        class="slick-track"
                        style="
                            opacity: 1;
                            width: 672px;
                            transform: translate3d(112px, 0px, 0px);
                        "
                    >
                        <div
                            class="slick-slide slick-current slick-center"
                            data-slick-index="0"
                            aria-hidden="true"
                            style="width: 214px"
                        >
                            <div>
                                <div style="width: 100%; display: inline-block">
                                    <img
                                        src="{{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png"
                                        alt="Serverraum des RRZE"
                                        width="1024"
                                        height="576"
                                        loading="lazy"
                                        srcset="
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-300x169.jpg    780w,
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-1024x576.jpg  1024w,
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png 2400w
                                        "
                                        sizes="(min-width: 1600px) 1200px,
                                        (min-width: 1400px) 1100px,
                                        (min-width:1000px) 900px,
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                        <div
                            class="slick-slide slick-center"
                            data-slick-index="1"
                            aria-hidden="true"
                            style="width: 214px"
                        >
                            <div>
                                <div style="width: 100%; display: inline-block">
                                    <img
                                        src="{{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png"
                                        alt="Serverraum des RRZE"
                                        width="1024"
                                        height="576"
                                        loading="lazy"
                                        srcset="
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-300x169.jpg    780w,
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-1024x576.jpg  1024w,
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png 2400w
                                        "
                                        sizes="(min-width: 1600px) 1200px,
                                        (min-width: 1400px) 1100px,
                                        (min-width:1000px) 900px,
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                        <div
                            class="slick-slide"
                            data-slick-index="2"
                            aria-hidden="true"
                            style="width: 214px"
                        >
                            <div>
                                <div style="width: 100%; display: inline-block">
                                    <img
                                        src="{{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png"
                                        alt="Serverraum des RRZE"
                                        width="1024"
                                        height="576"
                                        loading="lazy"
                                        srcset="
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-300x169.jpg    780w,
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-1024x576.jpg  1024w,
                                            {{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png 2400w
                                        "
                                        sizes="(min-width: 1600px) 1200px,
                                        (min-width: 1400px) 1100px,
                                        (min-width:1000px) 900px,
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        $(".slider-for-1888080768").slick({
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows: false,
                            fade: true,
                            adaptiveHeight: true,
                            asNavFor: ".slider-nav-1888080768",
                        });
                        $(".slider-nav-1888080768").slick({
                            slidesToShow: 4,
                            slidesToScroll: 1,
                            asNavFor: ".slider-for-1888080768",
                            centerMode: true,
                            focusOnSelect: true,
                            centerPadding: 5,
                            dots: true,
                            responsive: [
                                {
                                    breakpoint: 920,
                                    settings: {
                                        arrows: true,
                                        slidesToShow: 3,
                                    },
                                },
                                {
                                    breakpoint: 768,
                                    settings: {
                                        arrows: true,
                                        slidesToShow: 2,
                                    },
                                },
                                {
                                    breakpoint: 480,
                                    settings: {
                                        arrows: true,
                                        slidesToShow: 2,
                                        dots: false,
                                    },
                                },
                            ],
                        });
                    });
                </script>
            </p>
        </div>
    </div>
</div>
