<div class="rrze-vRevision">
    <div class="contenttype{{=contenttype}}">
        <h2>{{=h1}}</h2>

        <p class="desc">{{=htmlparagraph1}}</p>

        <section class="article">
            <hr />
            <p>{{=htmlparagraph2}}</p>
            <blockquote cite="https://www.wordpress.rrze.fau.de/">
                <p>{{=citate1}}</p>
            </blockquote>
            <h3>{{=h3}}</h3>
            <p>{{=htmlparagraph3}}</p>
            <p>{{=htmlparagraph4}}</p>
            <hr />
            <blockquote cite="https://www.wordpress.rrze.fau.de/">
                <p>{{=citate2}}</p>
            </blockquote>
            <h3>{{=h4}}</h3>
            <p>{{=htmlparagraph5}}</p>
            <h4>{{=h5}}</h4>
            <p>{{=htmlparagraph6}}</p>
            <h4>{{=h6}}</h4>
            <p>{{=htmlparagraph7}}</p>
            <hr />
            <h2>{{=h7}}</h2>
            <p>{{=htmlparagraph8}}</p>
            <blockquote cite="https://www.wordpress.rrze.fau.de/">
                <p>{{=citate3}}</p>
            </blockquote>
            <h3>{{=h8}}</h3>
            <p>{{=htmlparagraph9}}</p>
            <h2>{{=h9}}</h2>
            <p>{{=htmlparagraph10}}</p>
        </section>
    </div>
</div>
