<h2>Tabellen</h2>
<div class="table-wrapper">
    <div class="scrollable">
        <table summary="Table summary">
            <caption>
                Table Caption
            </caption>
            <thead>
                <tr>
                    <th>M. A. Mustermann</th>
                    <th>F. G. Korbson</th>
                    <th>Z. Yaraches</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1a – {{=paragraph1}}</td>
                    <td>2a – {{=paragraph2}}</td>
                    <td>3a – {{=paragraph3}}</td>
                </tr>
                <tr>
                    <td>1b – {{=htmlparagraph10}}</td>
                    <td>2b – {{=htmlparagraph9}}</td>
                    <td>3b – {{=htmlparagraph8}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
