<div class="rrze-vrevision">
    <div
        style="width: 310px"
        class="wp-caption alignright"
        >
        <img
            aria-describedby="caption-attachment-Serverraum-rrze-vrevision"
            loading="lazy"
            src="{{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png"
            alt="Serverraum des RRZE"
            width="300"
            height="255"
            class="size-medium serverraum-rrze-vrevision"
            srcset="
                {{=imgpath}}/assets/img/Serverraum/Serverraum-300x169.jpg    780w,
                {{=imgpath}}/assets/img/Serverraum/Serverraum-1024x576.jpg  1024w,
                {{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png 2400w
            "
            sizes="(max-width: 300px) 100vw, 300px"
        />
        <p
        class="wp-caption-text caption-attachment-Serverraum-rrze-vrevision"
        >
        Position alignright
        </p>
    </div>
    <p>
        plantarum besitzt den benötigten QPS-Status der European Food Safety Authority, welche dabei verschiedene Bakterienkulturen von L. plantarum als sicher eingestuft hat (EFSA 2012) und den GRAS-Status (GRAS), denn bei Probiotika, welche am Patienten eingesetzt werden sollen, spielt der individuell verwendete Bakterienstamm eine fundamentale Rolle. Man muss bei Sicherheitsbewertungen also jeden Bakterienstamm individuell prüfen und sollte somit keine generelle Aussage zu allen Bakterienstämmen der Art L. plantarum treffen (Liu et al. 2018; Ligaarden et al. 2010).
    </p>
</div>
