    <div
        style="width: 310px"
        class="wp-caption alignright rrze-vrevision"
        >
        <img
            aria-describedby="caption-attachment-Serverraum-rrze-vrevision"
            loading="lazy"
            src="{{=img150_4}}"
            alt="Serverraum des RRZE"
            width="300"
            height="255"
            class="size-medium serverraum-rrze-vrevision"
            srcset="
                {{=img300_4}}    780w,
                {{=img1024_4}}  1024w,
                {{=imgOriginal_4}} 2400w
            "
            sizes="(max-width: 300px) 100vw, 300px"
        />
        <p
        class="wp-caption-text caption-attachment-Serverraum-rrze-vrevision"
        >
        Position alignright
        </p>
    </div>