<div class="rrze-vrevision">
    <p>
        Die Kommission für Krankenhaushygiene und Infektionsprävention (KRINKO) des Robert Koch-Instituts hat aufgrund dieser und verwandter Studien die Empfehlung für Immunsupprimierte Patienten herausgegeben, dass „das Risiko des Einsatzes von Probiotika (…) bei immunsupprimierten Patienten (…) sorgfältig gegen den zu erwartenden Nutzen abzuwägen (ist)“ (Kommission für Krankenhaushygiene und Infektionsprävention (KRINKO) beim Robert Koch-Institut 2021).
    </p>
</div>