{{=elementalert}}
<h2>Platzhaltertext mit unterschiedlichen Textelementen.</h2>
{{=htmlparagraph1}} {{=paragraph1}} {{=htmlparagraph2}} {{=paragraph2}}
{{=htmlparagraph3}}
<h2>Sonderzeichen</h2>
{{=unicodeStandard}}
<h1>Heading Level 1</h1>
{{=htmlparagraph4}} {{=elementaccordion}}
<h2>Heading Level 2</h2>
<ul>
  <li>{{=list1}}</li>
  <li>{{=list2}}</li>
  <li>{{=list3}}</li>
  <li>{{=list4}}</li>
  <li>{{=list5}}</li>
</ul>
<hr />
<ol>
  <li>{{=list6}}</li>
  <li>{{=list7}}</li>
  <li>{{=list8}}</li>
  <li>{{=list9}}</li>
  <li>{{=list10}}</li>
</ol>
<h3>Heading Level 3</h3>
<blockquote cite="Monika Mustermann">
  <p>{{=citate1}}<br />{{=citate2}} <br />{{=citate3}}</p>
  <p><cite>Monika Mustermann</cite></p>
</blockquote>
{{=paragraph6}} {{=elementlatex}}
<h4>Heading Level 4</h4>
{{=htmlparagraph7}}
<blockquote cite="Hans Andersen">
  <p>
    Störchlein, Störchlein, fliege,<br />Damit ich dich nicht kriege,
    <br />Deine Frau, die liegt im Neste dein Bei deinen lieben Kindelein: Das
    eine wird gepfählt, Das andere wird abgekehlt, Das dritte wird verbrannt,
    Das vierte dir entwandt!
  </p>
  <p><cite>Hans Andersen</cite></p>
</blockquote>
<h5>Heading Level 5</h5>
{{=htmlparagraph8}}
<h6>Heading Level 6</h6>
{{=elementalert}} {{=htmlparagraph9}}
<h2>pre code</h2>
<pre><code>
    #header h1 a { display: block; width: 300px; height: 80px; }
</code></pre>
<h2>Klasse "example"</h2>
<pre class="example">
#header h1 a { display: block; width: 300px; height: 80px; }
</pre>
<h2>Bilder</h2>
{{=paragraph9}}
<div>
  <img
    src="{{=imgpath}}assets/img/{{=imgname1}}"
    alt="{{=caption1}}"
    width="1920"
    height="1080"
    loading="lazy"
    srcset="
      {{=imgpath}}assets/img/{{=imgname1}},
      {{=imgpath}}assets/img/{{=imgname1}}
    "
    sizes="(max-width: 300px) 100vw, 300px"
  />
  <p class="wp-caption-text">Bildfunktion in Arbeit</p>
</div>
{{=paragraph8}} {{=paragraph7}}
<h2>Tabellen</h2>
<div class="table-wrapper">
  <div class="scrollable">
    <table summary="Table summary">
      <caption>
        Table Caption
      </caption>
      <thead>
        <tr>
          <th>M. A. Mustermann</th>
          <th>F. G. Korbson</th>
          <th>Z. Yaraches</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1a – {{=paragraph1}}</td>
          <td>2a – {{=paragraph2}}</td>
          <td>3a – {{=paragraph3}}</td>
        </tr>
        <tr>
          <td>1b – {{=htmlparagraph10}}</td>
          <td>2b – {{=htmlparagraph9}}</td>
          <td>3b – {{=htmlparagraph8}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr />
<h3>Eine Standard-Tabelle</h3>
{{=elementalert}}
<div class="table-wrapper">
  <div class="scrollable">
    <table summary="Table summary 2">
      <caption>
        Table Caption
      </caption>
      <thead>
        <tr>
          <th>H. C. Andersens 1</th>
          <th>MÄRCHEN FÜR KINDER 2</th>
          <th>Märchengruß 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            1a – Hans Andersen, der Märchendichter, Nennt man ihn nur, landaus,
            landein; Da lachen strahlende Gesichter, Da jubeln Bub´ und
            Mägdelein! Ihm sang und klang, ihm lebt´ und lachte, Was anderer Ohr
            und Auge tot, Das Seelenlose fühlt´ und dachte Und ward beseelt, –
            wenn er gebot.
          </td>
          <td>
            2a – Den er gepflückt im Wunderlande, Den allerschönsten
            Märchenstrauß, Geknüpft mit rot und weißem Bande, Streut´ einst er
            in die Welt hinaus. Und aus dem Strauß die zart´sten Triebe, Die er
            bestimmt der Kinderschar, Sind hier gesammelt euch zuliebe; Wir
            bieten sie euch freudig dar.
          </td>
          <td>
            3a – Längst ist er schon von uns gegangen, Der Dichter, der den
            Kindern lieb, Doch leben noch in Jugendprangen Die Märchen, die für
            euch er schrieb. Sie klingen fort und werden klingen Unsterblich
            noch in später Zeit, Und sich wie gold´ne Fäden schlingen Um Kind
            und Märchenherrlichkeit.
          </td>
        </tr>
        <tr>
          <td>
            1b – Des grauen Entleins Abenteuer, Der Zinnsoldat, auf einem Bein
            Standhaft im Wasser und im Feuer, Die Schwäne und ihr Schwesterlein;
            Das Märlein von dem Tannenbaume, Vom Koffer, der die Luft
            durchschwirrt, Vom Sandmann und Klein–Hjalmars Traume, Vom
            Tölpelhans, der König wird.
          </td>
          <td>
            2b – Sie wollen plaudern, wollen scherzen, Sie wollen bei euch
            Kindern sein, Und dringen in die Kinderherzen Mit ernster Lehre
            mahnend ein. – So macht dem luftigen Gelichter Ein Heim in Herz und
            Haus bereit, Und seid gegrüßt vom Märchendichter, Die ihr ja selber
            Märchen seid!
          </td>
          <td>
            3b – – Längst ist er schon von uns gegangen, Der Dichter, der den
            Kindern lieb, Doch leben noch in Jugendprangen Die Märchen, die für
            euch er schrieb. Sie klingen fort und werden klingen Unsterblich
            noch in später Zeit, Und sich wie gold´ne Fäden schlingen Um Kind
            und Märchenherrlichkeit.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>
    <strong>Quelle:</strong>
    <a href="https://bueltge.de/html-ipsum/">https://bueltge.de/html-ipsum/</a>
  </p>
</div>
