<div class="rrze-vRevision">
    <div class="contenttype{{=contenttype}}">
        <h2>{{=h1}}</h2>
        <img src="{{=imgpath}}assets/img/{{=testoutput}}" alt="{{=caption1}}" width="1920" height="1080"  loading="lazy" srcset="{{=imgpath}}assets/img/{{=testoutput}}, {{=imgpath}}assets/img/{{=testoutput}}">

        <p class="desc">
            {{=paragraph1}}
        </p>

        <section class="article">
            <hr/>
            <p>{{=paragraph2}}</p>
            <h3>{{=h3}}</h3>
            <p>{{=paragraph3}}</p>
            <p>{{=paragraph4}}</p>
            <hr/>
            <h3>{{=h4}}</h3>
            <p>{{=paragraph5}}</p>
            <h4>{{=h5}}</h4>
            <p>{{=paragraph6}}</p>
            <h4>{{=h6}}</h4>
            <p>{{=paragraph7}}</p>
            <hr/>
            <h2>{{=h7}}</h2>
            <p>{{=paragraph8}}</p>
            <h3>{{=h8}}</h3>
            <p>{{=paragraph9}}</p>
            <h2>{{=h9}}</h2>
            <p>{{=paragraph10}}</p>
        </section>
    </div>
</div>