<div class="rrze-vrevision">
    <div style="width: 310px" class="wp-caption alignleft">
        <img
            aria-describedby="caption-attachment-Serverraum-rrze-vrevision"
            loading="lazy"
            src="{{=img150}}"
            alt="Serverraum des RRZE"
            width="300"
            height="255"
            class="size-medium serverraum-rrze-vrevision"
            srcset="
                {{=img300}}    780w,
                {{=img1024}}  1024w,
                {{=imgOriginal}} 2400w
            "
            sizes="(max-width: 300px) 100vw, 300px"
        />
        <p
            class="wp-caption-text caption-attachment-Serverraum-rrze-vrevision"
        >
            Position alignleft
        </p>
    </div>
</div>