<p>
    Bereits 1994 gab es in der Wissenschaft erste Anzeichen dafür, dass Lactobacillen nicht nur positive Eigenschaften mit sich bringen müssen, sondern auch einen potentiell pathogenen Charakter aufzeigen können (D.W.S. Harty 1994). So untersuchte auch Cannon et al. im Jahr 2005 über 200 gemeldete Fälle von Lactobacillus-assoziierten Infektionen. L. plantarum wurde dabei in 14 von allen 241 Fällen aus Patientenproben isoliert. Von diesen 14 Fällen fand man L. plantarum 11-mal bei Patienten mit Endokarditis (Herzinnenhautentzündungen) vor (Cannon et al. 2005). L. plantarum wurde in dieser Studie somit bei Endokarditis-Fällen genauso häufig wie L. rhamnosus vorgefunden. Jedoch zeigen andere Stämme, z.B. L. casei mit 26 isolierten Fällen bei Endokarditis einen deutlich höheren Wert (Cannon et al. 2005). Diese Fallstudien geben also ein Anzeichen dafür, dass Lactobacillus bei immunsupprimierten Patienten auch zu systemischen Infektionen beitragen könnte.
    </p>
<div style="width: 310px" class="wp-caption alignleft">
    <img
        aria-describedby="caption-attachment-Serverraum-rrze-vrevision"
        loading="lazy"
        src="{{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png"
        alt="Serverraum des RRZE"
        width="300"
        height="255"
        class="size-medium serverraum-rrze-vrevision"
        srcset="
            {{=imgpath}}/assets/img/Serverraum/Serverraum-300x169.jpg    780w,
            {{=imgpath}}/assets/img/Serverraum/Serverraum-1024x576.jpg  1024w,
            {{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png 2400w
        "
        sizes="(max-width: 300px) 100vw, 300px"
    />
    <p
        id="caption-attachment-Serverraum-rrze-vrevision"
        class="wp-caption-text"
    >
        Position alignleft
    </p>
</div>
<p>
    Die Kommission für Krankenhaushygiene und Infektionsprävention (KRINKO) des Robert Koch-Instituts hat aufgrund dieser und verwandter Studien die Empfehlung für Immunsupprimierte Patienten herausgegeben, dass „das Risiko des Einsatzes von Probiotika (…) bei immunsupprimierten Patienten (…) sorgfältig gegen den zu erwartenden Nutzen abzuwägen (ist)“ (Kommission für Krankenhaushygiene und Infektionsprävention (KRINKO) beim Robert Koch-Institut 2021).
    L. plantarum besitzt den benötigten QPS-Status der European Food Safety Authority, welche dabei verschiedene Bakterienkulturen von L. plantarum als sicher eingestuft hat (EFSA 2012) und den GRAS-Status (GRAS), denn bei Probiotika, welche am Patienten eingesetzt werden sollen, spielt der individuell verwendete Bakterienstamm eine fundamentale Rolle. Man muss bei Sicherheitsbewertungen also jeden Bakterienstamm individuell prüfen und sollte somit keine generelle Aussage zu allen Bakterienstämmen der Art L. plantarum treffen (Liu et al. 2018; Ligaarden et al. 2010).
    </p>