<div class="rrze-vrevision">
    <div style="width: 310px" class="wp-caption alignleft">
        <img
            aria-describedby="caption-attachment-Serverraum-rrze-vrevision"
            loading="lazy"
            src="{{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png"
            alt="Serverraum des RRZE"
            width="300"
            height="255"
            class="size-medium serverraum-rrze-vrevision"
            srcset="
                {{=imgpath}}/assets/img/Serverraum/Serverraum-300x169.jpg    780w,
                {{=imgpath}}/assets/img/Serverraum/Serverraum-1024x576.jpg  1024w,
                {{=imgpath}}/assets/img/Serverraum/Serverraum-3840x2160.png 2400w
            "
            sizes="(max-width: 300px) 100vw, 300px"
        />
        <p
            class="wp-caption-text caption-attachment-Serverraum-rrze-vrevision"
        >
            Position alignleft
        </p>
    </div>
    <p>
        Die Kommission für Krankenhaushygiene und Infektionsprävention (KRINKO) des Robert Koch-Instituts hat aufgrund dieser und verwandter Studien die Empfehlung für Immunsupprimierte Patienten herausgegeben, dass „das Risiko des Einsatzes von Probiotika (…) bei immunsupprimierten Patienten (…) sorgfältig gegen den zu erwartenden Nutzen abzuwägen (ist)“ (Kommission für Krankenhaushygiene und Infektionsprävention (KRINKO) beim Robert Koch-Institut 2021).
    </p>
</div>