<div class="rrze-vrevision">
    <p>
        Die 16S ribosomale RNA, also die rRNA der kleinen Untereinheit des bakteriellen Ribosoms kann zur schnellen Identifikation und Erkennung der bakteriellen Spezies herangezogen werden. (Clarridge 2004; Jo et al. 2016). <span class="rrze-vrevision-60-characters">Die 16S rRNA umfasst dabei rund 1.500 Basenpaare (bp) Länge </span>und bietet den Vorteil, dass die erhaltene Sequenz sowohl mit der 16S rRNA von Archeobakterien, als auch mit der 18S eukaryotischen rRNA abgeglichen werden kann. (Clarridge 2004)
    </p>
    <h3>Extraktion der 16S rRNA</h3>
    <p>Zudem sind die 16S rRNA Sequenzbereiche der Bakterien sehr konserviert. Man geht davon aus, dass dies damit zusammenhängen könnte, weil die 16S rRNA essenziell für die Zellfunktion der Bakterien ist, während andere RNA-Bereiche für die Proteincodierung zuständig sind (Clarridge 2004).</p>
    {{=blockquote}}
    {{=imgralign}}
    <p><span class="rrze-vrevision-45-characters">Für die Analyse der 16S rRNA wird im ersten S</span>chritt die bakterielle DNA aus den Zellen mittels Standardmethode oder einem kommerziellen System isoliert (Clarridge 2004). Mithilfe der PCR wird die erhaltene isolierte DNA amplifiziert. Das Amplikon wird dabei gebildet, indem gängige Universalprimer verwendet werden. <span class="rrze-vrevision-72-characters">Nach dem ersten Durchgang der PCR werden die erhaltenen Amplifikate aufg</span>ereinigt und durch Cycle-Sequencing weiterverarbeitet. Hierbei werden in getrennten Reaktionen der Leit- und Folgestrang der DNA mit den spezifischen Primern wieder amplifiziert. 
    </p>
    <h4>Wie funktioniert DNA Sequenzierung?</h4>
    <p>
        <span class="rrze-vrevision-50-characters">Durch fluoreszierende Terminator-Bausteine, welche </span>zufällig bei den erhaltenen Sequenzen eingebaut werden und zu einem Stopp führen, kann mittels Analysegerät dann die Sequenz abgelesen und identifiziert werden (Clarridge 2004). Neben dem Cycle-Sequencing gibt es heutzutage auch weitere, modernere Methoden, welche unter dem Begriff Next Generation Sequencing zusammengefasst sind.
        Die erhaltene Sequenz kann dann mittels verschiedener Bioinformatik-Tools analysiert und mit anderen 16S rRNA Sequenzen aus online-Gendatenbanken verglichen werden.
    </p>
</div>