<div class="rrze-vrevision">
    <h2>Methoden</h2>
    <ul>
        <li>Restriktionsspaltung genomischer DNA</li>
        <li>Agarose-Gelelektrophorese</li>
        <li>Durchführung einer Absoprtionsmessung</li>
        <li>Ligation von DNA Fragmenten mit linearisiertem Plasmidvektor und Transformation in kompetente <i>E.coli</i> Zellen</li>
        <li>Restriktionsverdau und Ligation genomischer DNA in einen Plasmidvektor</li>
        <li>Transformation von kompetenten <i>E.coli</i> Zellen in Plasmiden</li>
        <li>Überprüfung der Insertgrößen der hergestellten Genbank</li>
        <li>Genetische Charakterisierung von Hefemutanten und DNA Sequenzierung</li>
        <li>Kompensationsanalyse von <i>trp</i>-Mutanten</li>
        <li>DNA Sequenzierung von <i>trp1</i> und <i>trp4</i> Mutantenallelen</li>
        <li>Reverse Transkription mit anschließender PCR (Polymerase Kettenreaktion) zum Nachweis von RNA in Epithelzellen des Speichels</li>
    </ul>
    <h2>Versuchsdurchführung</h2>
    <ol>
        <li><strong>Herstellung des Agarose-Gels</strong> (0.8% w/v)</li>
        <li>Gießen des Gels</li>
        <li>Auftragen der Proben</li>
        <li>Auf die Polung achten!</li>
        <li>Gelelektrophorese starten</li>
        <li>Auswertung durch den Transilluminator (UV-Lampe) der Doku-Anlage</li>        
    </ol>
</div>